body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f0f1f7 !important;
    font-family: 'Inter', sans-serif !important;

    &::-webkit-scrollbar {
        display: none;
    }

}

ul {
    list-style: none;

}

ul,
figure,
p {
    margin: 0 !important;
    padding: 0 !important;

}

a {
    text-decoration: none !important;
}

* {
    box-sizing: border-box;

}

// normalize 
main {
    position: relative;
}


.web-container {
    display: flex;

    >.menu-container {
        width: 16%;
        position: relative;
        z-index: 5;

        >.menu-content {
            background-color: #111c43;
            height: 100vh;
            width: 16%;
            overflow-y: scroll;
            position: fixed;
            &::-webkit-scrollbar{
               display: none;
            }
            >.menu-image {
                padding: 1rem 0;

                >figure {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            >.menu-left-container {
                >nav {
                    >ul {
                        font-family: 'Montserrat', sans-serif;
                        
                        >.slide-categury {
                            padding: .5rem 1.1rem;

                            >span {
                                font-size: 10px;
                                color: rgba(152, 162, 196, 0.443);
                                text-transform: uppercase;
                                font-weight: 600;
                                letter-spacing: .065rem;
                            }
                        }

                        >.slide-container {
                            color: #Acaed1;
                            padding: 0 .75rem;
                          
                            
                            >.accr-menu-container{
                                
                                >.accr-menu-content{
                                    >li{
                                        padding-left: 1.5rem;
                                        >a{
                                            display: block;
                                            position: relative;
                                            padding:.5rem 1.5rem;
                                            font-size: 13px;
                                            text-transform: capitalize;
                                            color: #Acaed1;
                                            &::before{
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                top: 50%;
                                                left: 0;
                                                transform: translateY(-50%);
                                                // background-color: red;
                                                border: 1px solid #Acaed1;
                                                width: 5px;
                                                height: 5px;
                                                border-radius: 50%;
                                            }
                                        }
                                    }
                                }
                            }

                            >.slide-content {
                                padding: .75rem;
                                // background-color: #1d284d;
                                border-radius: 10px;
                                display: flex;
                                align-items: center;
                                position: relative;
                                
                                >i {
                                    &:nth-of-type(1) {
                                        margin-right: 10px;
                                    }

                                    &:nth-of-type(2) {
                                        position: absolute;
                                        top: 50%;
                                        right: 10px;
                                        transform: translateY(-50%);
                                    }
                                }

                                >span {
                                    font-size: 13px;
                                    >span {
                                        font-size: 10px;
                                        background-color: #f5b94918;
                                        border-radius: 3px;
                                        padding: 1px 7px;
                                        display: inline-block;
                                        margin-left: 3px;

                                        >span {
                                            color: #f5b949;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    >.main-content-container {
        width: 84%;


        >.header-top {
            background-color: #fff;
            border: 1px solid #f3f3f3;

            >.header-content {
                display: flex;
                justify-content: space-between;

                >.menu-humbprg-icon {
                    display: flex;
                    align-items: center;

                    >i {
                        color: #536485;
                    }
                }

                >.icon-header {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-evenly;
                    align-items: center;
                    position: relative;

                    >.icon-box {
                        padding: 1rem .7rem !important;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .drop-down-content {
                            display: none;
                        }



                        &:nth-of-type(5) {
                            i {
                                >.counter-content {

                                    >.count {
                                        background-color: #23b7e5;

                                    }

                                    >.animation-scale-counter {
                                        background-color: #84d7f1;
                                        animation-duration: 2s;
                                        animation-delay: 1s;

                                    }
                                }
                            }
                        }

                        &:nth-of-type(6) {
                            i {
                                >.counter-content {

                                    >.count {
                                        background-color: #845adf;

                                    }

                                    >.animation-scale-counter {
                                        background-color: #845adfcd;
                                        animation-duration: 2s;


                                    }
                                }
                            }
                        }

                        >i {
                            position: relative;

                            >.counter-content {
                                position: absolute;
                                display: block;
                                top: -25%;
                                right: -10%;

                                >.count {
                                    border-radius: 50%;
                                    width: 13px;
                                    height: 13px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 8px;
                                    font-weight: bolder;
                                    color: #fff;
                                    position: relative;
                                    z-index: 1;


                                }

                                >.animation-scale-counter {
                                    position: absolute;
                                    width: 13px;
                                    height: 13px;
                                    top: 50%;
                                    border-radius: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    display: block;
                                    animation-name: animation-scale;
                                    animation-iteration-count: infinite;
                                    z-index: 0;
                                }
                            }
                        }

                        .notif-bell {
                            transform: translateX(-30%);

                            >.sub-shoping-content {
                                >.todo-container {
                                    >.todo-content {

                                        >li {
                                            &:nth-of-type(1) {
                                                >span {
                                                    background-color: #845adf32;


                                                    >i {
                                                        color: #845adf;
                                                    }
                                                }
                                            }

                                            &:nth-of-type(2) {
                                                >span {
                                                    background-color: #23b8e534;


                                                    >i {
                                                        color: #23b7e5;
                                                    }
                                                }
                                            }

                                            &:nth-of-type(3) {
                                                >span {
                                                    background-color: #e791bc34;


                                                    >i {
                                                        color: #e791bc;
                                                    }
                                                }
                                            }

                                            &:nth-of-type(4) {
                                                >span {
                                                    background-color: #f5b94936;


                                                    >i {
                                                        color: #f5b849;
                                                    }
                                                }
                                            }

                                            &:nth-of-type(5) {
                                                >span {
                                                    background-color: #26bf9435;


                                                    >i {
                                                        color: #26bf94;
                                                    }
                                                }
                                            }

                                            >span {
                                                width: 40px !important;
                                                height: 40px !important;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                border-radius: 50%;
                                                margin-right: 5px;


                                            }

                                            .title-todo-content {
                                                >p {

                                                    line-height: 2;
                                                }

                                                >span {
                                                    font-size: 12px;
                                                    line-height: 1.5 !important;
                                                    display: block;
                                                    color: #8c9097;
                                                }
                                            }

                                        }
                                    }
                                }
                            }

                            .drop-down-todo {
                                padding: .2rem;

                                >i {
                                    color: #8c9097;
                                    cursor: pointer;
                                }
                            }
                        }

                        .notif-shoping {
                            transform: translateX(-45%);

                            >.sub-shoping-content {
                                >.todo-container {
                                    >.todo-content {
                                        >li {
                                            >figure {
                                                flex-grow: 1;

                                                >img {
                                                    display: block;
                                                    width: 28px;
                                                    height: 28px;
                                                    border-radius: 50%;

                                                }

                                            }

                                            >.text-title-todo {
                                                >.drop-down-todo {

                                                    >span {
                                                        color: #8c9097;
                                                        font-size: 12px;

                                                        &:nth-of-type(1) {
                                                            padding-right: .45rem;
                                                            border-right: 1px solid #eee;
                                                        }

                                                        &:nth-of-type(2) {
                                                            padding-left: .45rem;

                                                        }

                                                    }
                                                }

                                            }

                                            .title-todo-content {
                                                >p {
                                                    line-height: 2;

                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }

                        .sub-menu-shoping {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 65%;
                            z-index: 10;
                            background-color: #fff;
                            box-shadow: 0 0.25rem 0.625rem #1414141a;
                            border-radius: 5px;
                            cursor: auto;

                            // display: none;
                            >.sub-shoping-content {

                                >.title-sub-shop {
                                    padding: 1rem;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    >p {
                                        color: #333335;
                                        font-weight: bold;
                                    }

                                    >.counter-items {
                                        font-size: 10px;
                                        background-color: #e9f8f4;
                                        font-size: 10px;
                                        display: block;
                                        padding: .2rem .5rem;
                                        color: #2cc197;
                                        font-weight: bolder;
                                        border-radius: 5px;
                                    }

                                }

                                >.todo-container {
                                    >.todo-content {

                                        >li {
                                            display: flex;
                                            padding: .7rem;
                                            border-top: 1px solid #eee;

                                            >&:hover {
                                                background-color: #f9f7fd;
                                            }


                                            >.text-title-todo {
                                                flex-grow: 10;

                                                >.todo-item-container {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    align-items: center;

                                                    >.title-todo-content {
                                                        >p {

                                                            font-size: 13px;
                                                            font-weight: bold;
                                                            // color:#8c9097;
                                                        }
                                                    }

                                                    >.price-todo {
                                                        display: flex;
                                                        align-items: center;

                                                        >p {
                                                            font-size: 13px;
                                                            padding-right: 1rem !important;
                                                        }

                                                        >i {
                                                            color: red;
                                                            cursor: pointer;
                                                        }
                                                    }
                                                }

                                                >.drop-down-todo {
                                                    display: flex;


                                                }

                                            }

                                        }
                                    }

                                    >.button-todo {
                                        padding: 1rem;
                                        border-top: 1px solid #eee;

                                        >a {
                                            padding: .5rem .8rem !important;
                                            display: block;
                                            font-size: 13px;
                                            background-color: #845adf;
                                            color: #fff;
                                            text-align: center;
                                            border-radius: 5px;
                                        }
                                    }
                                }

                                >.empty-container {
                                    padding: 3rem;
                                    display: none;

                                    >.text-empty {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;

                                        >span {
                                            width: 64px;
                                            height: 64px;
                                            background-color: #f5b94919;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border-radius: 50%;

                                            >i {
                                                color: #f5b849;
                                            }

                                        }

                                        >p {
                                            margin-bottom: 1rem !important;
                                            font-size: 13px;
                                        }

                                        >a {
                                            background-color: #845adf;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;

                                            >i {
                                                margin-left: 2px;

                                            }

                                            padding: .5rem .25rem;
                                            font-size: 12px;
                                            color: #fff;
                                            border-radius: 5px;
                                        }

                                        text-align: center;

                                        >h6 {
                                            margin-top: 1rem !important;
                                            margin-bottom: .25rem !important;
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }

                        }

                        >i {
                            color: #536485;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 1.75rem;
                            height: 1.75rem;
                            border-radius: 50%;
                            transition-duration: .1s;

                            &:hover {
                                background-color: #f0f1f7;
                            }
                        }
                    }

                    >.image-user {
                        display: flex;
                        align-items: center;

                        >figure {
                            width: 32px;
                            height: 32px;
                            margin-right: .5rem !important;

                            >img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }

                        >.profile-setting {
                            background-color: #fff;
                            position: absolute;
                            top: 100%;
                            width: 35%;
                            transform: translate(-35%);
                            border-radius: 5px;
                            box-shadow: 0 0.25rem 0.625rem #1414141a;

                            // display: none;
                            >.items-setting {
                                display: flex;
                                align-items: center;
                                padding: .65rem;
                                color: #333335;

                                &:hover {
                                    background-color: #f9f7fd;
                                    color: #845adf;
                                }

                                >p {
                                    font-size: 13px;
                                    padding-left: .5rem !important;

                                }
                            }
                        }

                        >.text-user-top {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            >p {
                                font-size: .8rem;
                                font-weight: 600;
                                line-height: 10px;
                                color: #536485;
                            }

                            >span {
                                font-size: .7rem;
                                font-weight: 400;
                                color: #536485;
                            }
                        }
                    }

                    >.image-flag {

                        >figure {
                            width: 20px;
                            height: 20px;

                            >img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }

                        .sub-language-menu {
                            // display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 28%;
                            transform: translateX(-28%);

                            box-shadow: 0 0.25rem 0.625rem #1414141a;
                            border-radius: 3px;
                            background-color: #fff;

                            >.language-container {
                                >.language-content {
                                    display: flex;

                                    align-items: center;
                                    gap: 20%;
                                    padding: 1rem .7rem;

                                    &:hover {
                                        background-color: #f9f7fd;

                                        >p {
                                            color: #845adf;
                                        }
                                    }

                                    >p {
                                        font-size: .8rem;
                                        font-weight: bold;
                                        color: #333335;
                                        font-family: 'Inter', sans-serif !important;

                                    }

                                    >figure {

                                        width: 16px;
                                        height: 16px;

                                        >img {
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }
    }
}

.animation-search {
    opacity: 1 !important;
    visibility: visible !important;

    >.search-content {
        transform: translateY(0) !important;

    }
}

.search-box-container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100vh;
    background-color: #00000093;
    overflow: hidden;
    transition-duration: .3s;
    opacity: 0;
    visibility: hidden;

    .search-content {
        position: fixed;
        max-width: 500px;
        transform: translateY(-50%);
        margin-top: 1.7rem;
        background-color: #fff;
        border-radius: 10px;
        padding: 1rem;
        transition-duration: .5s;

        >.search-box-content {

            >form {
                display: flex;
                border: 2px solid #845adf;
                border-radius: .2rem;

                >.icon-search-box {
                    flex-grow: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #edf0f7;
                }

                >input {
                    flex-grow: 10;
                    border: none;
                    outline: none;
                    padding: .4rem;
                    font-size: .87rem;

                }
            }

        }

        >.tags-content {
            display: flex;
            flex-wrap: wrap;

            >p {
                color: #8c9097;
                font-size: .87rem;
                font-weight: 400;
                width: 100%;
                margin-bottom: .5rem !important;
            }

            >span {
                color: #8c9097;
                display: flex;
                align-items: center;
                margin-right: .2rem;
                padding: 0.125rem 0.55rem;
                background-color: rgb(243, 246, 248);
                color: #000;

                >i {
                    padding: 0 .2rem;

                    &:nth-of-type(1) {
                        margin-right: .5rem;
                    }

                    &:nth-of-type(2) {
                        margin-left: .5rem;
                    }

                    text-align: end;

                }

                >span {
                    font-size: .75rem;
                }

            }
        }

        >.recent-search {
            >p {
                margin-bottom: .5rem !important;
                font-weight: 500;
                font-size: .8rem;
                color: #8c9097;
            }

            >span {
                display: block;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #eee;
                color: #333335;
                border-radius: .3rem;
                padding: .5rem;
                margin-bottom: .3rem;

                >i {
                    cursor: pointer;
                }

                span {
                    font-size: .85rem;
                }
            }
        }

        >.button-search-box {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;
            padding: 2rem 1.25rem 0;
            border-top: 1px solid #eee;

            >a {
                text-align: center;
                display: inline-block;
                padding: .5rem .8rem;
                font-size: .7rem;

                font-weight: bold;

                &:nth-of-type(1) {
                    background-color: #ebe5fa;
                    border-radius: 5px 0 0 5px;
                    color: #895ae0;
                    transition-duration: .2s;

                    &:hover {
                        background-color: #895ae0;
                        color: #fff;

                    }
                }

                &:nth-of-type(2) {
                    background-color: #895ae0;
                    color: #fff;
                    border-radius: 0px 5px 5px 0px;
                }
            }
        }


    }
}

.show {
    display: block !important;
}

.main-content {
    padding: 0 .5rem;

    >.container-fluid {
        >.title-main-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.5rem 0;

            >.text-main-content {
                >p {
                    font-size: 18px;
                    color: #333335;
                    font-weight: bolder;
                }

                >span {
                    font-size: 13px;
                    color: #8c9097;
                }

            }

            >.button-main-content {

                >a {
                    font-size: 13px;
                    display: inline-block;
                    padding: .6rem .8rem;
                    margin: 0 0.375rem 0.375rem 0;
                    border-radius: 5px;

                    &:nth-of-type(1) {
                        background-color: #845adf;
                        color: #fff;

                    }

                    &:nth-of-type(2) {
                        border: 1px solid #23b7e5;
                        color: #23b7e5;
                        transition-duration: .2s;

                        &:hover {
                            background-color: #23b7e5;
                            color: #fff;

                        }
                    }

                    >i {
                        margin-right: 5px;
                    }
                }
            }


        }
    }
}

.progress-container {
    background-color: #845adf;
    position: relative;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1.5rem !important;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/media-65.png') no-repeat center center /cover;
        opacity: .2;


    }

    >.progress-cart {
        display: flex;
        align-items: center;

        >.text-cart-progress {
            color: #fff;

            >p {
                font-size: 1.2rem;
                font-weight: bolder;
                margin-bottom: 4px !important;

            }

            >span {
                font-size: 12px;
                display: block;
                color: #ffffff;

                >span {
                    color: #d8ad59;
                }
            }

            >a {
                color: #fff;
                border-bottom: 2px solid #fff;
                display: inline-block;
                margin-top: 4px !important;
                font-size: 12px;
                font-weight: bolder;

            }
        }
    }

}

.chart-pie {
    .drop-down-content {
        right: 0px !important;
    }
}

.top-Deals-container {
    background-color: #fff;

    border-radius: 10px;

    #circle-chart {
        padding: 0rem !important;

        .apexcharts-legend {
            flex-wrap: nowrap !important;
            text-align: center;

            .apexcharts-legend-marker {
                width: 5px !important;
                height: 5px !important;
                border-radius: 50%;
                margin-top: 3px;
            }

            .apexcharts-legend-series {
                align-items: flex-start !important;
                padding-top: 10px !important;
            }
        }


    }

    >.top-deals-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.25rem;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 3px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            position: absolute;
            background: linear-gradient(to bottom, rgb(132, 90, 223) 50%, rgba(35, 183, 229) 50%);
            ;
        }

        >h5 {
            margin: 0 !important;
            font-size: 15px;
            font-weight: bolder;

        }

        >.drop-down {
            position: relative;

            >span {
                color: #8c9097;
                cursor: pointer;

                >span {
                    font-size: 12px;
                }

            }

            >i {
                padding: .25rem .5rem;
                cursor: pointer;
                background-color:
                    #f3f6f8;
            }

            >.drop-down-content {
                position: absolute;
                top: 110%;
                background-color: #fff;
                border-radius: 10px;
                display: none;
                z-index: 20;
                border: 1px solid #f3f3f3;

                ul {
                    width: 160px;

                    li {
                        font-size: 13px;
                        padding: .5rem .9rem;

                        &:hover {
                            background-color: #f2eefc6b;
                            color: #845adf;
                        }
                    }
                }
            }
        }
    }

    >.top-deals-menu {
        padding: 20px 20px 15px 20px !important;
        border-top: 1px solid #eee;

        >li {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: .9rem !important;

            &:nth-of-type(2) {
                >span {
                    background-color: #fcefe5;
                    color: rgb(245, 184, 73);
                }
            }

            &:nth-of-type(4) {
                >span {
                    background-color: #e6f7f4;
                    color: #26bf94;
                }
            }

            &:nth-of-type(5) {
                >span {
                    background-color: #f2eefc;
                    color: #845adf;
                }
            }

            &:last-child {
                margin: 0 !important;
            }

            >figure {
                img {
                    width: 28px;
                    height: 28px;
                    display: block;
                    border-radius: 50%;
                }

            }

            >.informatin-user {
                width: max-content;

                >p {
                    font-size: 13px;
                    font-weight: bolder;
                    color: #333335;
                    line-height: 1.5;
                }

                >span {
                    color: #8c9097;
                    font-size: 12px;
                }
            }

            >p {
                font-size: 15px;

            }

            >span {
                width: 28px;
                height: 28px;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-weight: bolder;

            }
        }
    }


    #main-chart {
        padding: 1.25rem;
    }
}

.chart-style {
    padding-right: 1rem;
    border-top: 1px solid #eee;
}

.activity-customers-information {
    background-color: #fff;
    display: flex;
    padding: 1.25rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;

    >.icon-activity {
        width: 40px;
        height: 40px;
        background-color: #845adf;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        >i {
            color: #fff;
        }
    }

    >.activity-customers-content {
        flex-grow: 1;
        margin-left: 1rem;

        >.title-chart-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            >.text-activity {
                >span {
                    font-size: 12px;
                    color: #8c9097;
                }

                >p {
                    font-size: 1.5rem;
                    font-weight: bolder;
                    color: #333335;
                }
            }

        }

        >.bottom-activity {
            display: flex;
            margin-top: .5rem;
            align-items: center;
            justify-content: space-between;

            >a {
                font-size: 13px;
                color: #845adf;
                display: flex;
                align-items: center;

                >i {
                    margin-left: .5rem;
                }
            }

            >span {
                >span {
                    font-size: 13px;
                    color: #26bf94;
                }

                >p {
                    font-size: 11px;
                    color: #8c9097;
                }
            }

        }
    }

}

.progress-chart {
    padding: 1.25rem;
    border-top: 1px solid #eee;

    >.progress-chart-content {
        >.title-progress-chart {
            display: flex;
            margin-bottom: 1rem;


            >p {
                font-weight: bolder;
                font-size: 1.5rem;
            }

            >span {
                margin-left: 5px;
                display: flex;

                >span {
                    display: inline-block;
                    height: max-content;

                    >i {
                        margin-left: .25rem !important;
                    }

                    &:nth-of-type(1) {
                        font-size: 10px;
                        padding: .25rem .45rem;
                        color: #26bf94;
                        background-color: #26bf9413;
                        border-radius: .25rem;
                        display: flex;
                        align-items: center;

                    }

                    &:nth-of-type(2) {
                        font-size: 13px;
                        color: #8c9097;
                        margin-left: 5px;
                    }
                }
            }
        }

        >.line-chart-content {
            display: flex;
            margin-bottom: 1.5rem;

            >span {
                background-color: red;
                height: 5px;
                border-radius: .5rem;

                &:nth-of-type(1) {
                    flex-grow: 1;
                    background-color: #845adf;

                }

                &:nth-of-type(2) {
                    flex-grow: 2;
                    background-color: #49b6f5;
                }

                &:nth-of-type(3) {
                    flex-grow: 3;
                    background-color: #f5b849;

                }

                &:nth-of-type(4) {
                    flex-grow: 2;
                    background-color: #26bf94;

                }
            }

        }

        >.statistics-container {
            >ul {
                >li {
                    &:last-child {
                        >div {
                            margin-bottom: 0 !important;

                        }
                    }

                    &:nth-of-type(1) {
                        &::before {
                            background-color: #845adf;

                        }

                    }

                    &:nth-of-type(2) {
                        &::before {
                            background-color: #49b6f5;

                        }
                    }

                    &:nth-of-type(3) {
                        &::before {
                            background-color: #f5b849;

                        }


                    }

                    &:nth-of-type(4) {
                        &::before {
                            background-color: #26bf94;

                        }


                    }

                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: red;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);


                    }

                    >.statistics-content {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        margin-left: 1rem;

                        >p {
                            color: #333335;
                            font-size: 13px;
                        }

                        >span {
                            font-size: 12px;
                            color: #8c9097;
                        }
                    }
                }
            }
        }
    }
}

.recent-activity-container {
    padding: 1.5rem 1rem;
    border-top: 1px solid #eee;

    >ul {
        >li {
            padding-bottom: 1.25rem;
            position: relative;

            &::before {
                content: '';
                width: 15px;
                height: 100%;
                position: absolute;
                left: 9px;
                top: 9px;
            }

            &:nth-of-type(1) {
                &::before {
                    border-left: 1px dashed #845adf70;
                }

                .circle-icon {
                    background-color: #845adf1e;

                    >span {
                        background-color: #845adf;

                    }
                }

                .text-activity {
                    >p {
                        font-weight: bolder;

                        >span {
                            color: #845adf;
                            font-weight: normal;
                        }

                    }

                }
            }

            &:nth-of-type(2) {
                &::before {
                    border-left: 1px dashed #23b8e542;
                }

                .circle-icon {
                    background-color: #23b8e514;

                    >span {
                        background-color: #23b7e5;

                    }
                }

                .text-activity {
                    >p {

                        >span {
                            font-weight: bolder;
                            font-size: 12px;
                        }

                    }

                }
            }

            &:nth-of-type(3) {
                &::before {
                    border-left: 1px dashed #26bf945f;
                }

                .circle-icon {
                    background-color: #26bf9423;

                    >span {
                        background-color: #26bf94;

                    }
                }

                .text-activity {
                    >p {

                        >span {
                            font-weight: bolder;
                            color: #26bf94;
                        }

                    }

                }
            }

            &:nth-of-type(4) {
                &::before {
                    border-left: 1px dashed #e791bc50;
                }

                .circle-icon {
                    background-color: #e791bc2c;

                    >span {
                        background-color: #e791bc;

                    }
                }

                .text-activity {
                    >p {

                        >span {
                            font-weight: bolder;
                            font-size: 11px;
                            padding: .2rem;
                            color: #e791bc;
                            display: inline-block;
                            background-color: #e791bc2c;
                            border-radius: .2rem;
                        }

                    }

                }
            }

            &:nth-of-type(5) {
                &::before {
                    border-left: 1px dashed #f5b9495b;
                }

                .circle-icon {
                    background-color: #f5b9491e;

                    >span {
                        background-color: #f5b849;

                    }
                }

            }

            &:nth-of-type(6) {
                &::before {
                    border-left: 1px dashed #23b8e542;
                }

                .circle-icon {
                    background-color: #23b8e514;

                    >span {
                        background-color: #23b7e5;

                    }
                }

                .text-activity {
                    >p {

                        >span {
                            font-weight: bolder;
                            color: #23b7e5;
                        }

                    }

                }
            }

            &:nth-of-type(7) {
                &::before {
                    border-left: 1px dashed #00000053;
                }

                .circle-icon {
                    background-color: #0000002e;

                    >span {
                        background-color: #000000;

                    }
                }

                .text-activity {
                    >p {

                        >span {
                            font-weight: bolder;
                            color: #23b7e5;
                        }

                    }

                }
            }

            &:nth-of-type(8) {
                padding: 0 !important;

                &::before {
                    display: none;
                }

                .circle-icon {
                    background-color: #845adf1b;

                    >span {
                        background-color: #845adf;

                    }
                }

                .text-activity {
                    >p {

                        >span {
                            font-weight: bolder;
                            color: #845adf;
                        }

                    }

                }
            }

            >.recent-activity-content {
                display: flex;
                justify-content: space-between;

                >.circle-icon {
                    width: 20px !important;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // margin-right: 1rem;
                    border-radius: 50%;

                    >span {
                        width: 8px;
                        height: 8px;
                        display: block;
                        border-radius: 50%;

                    }
                }

                >.text-activity {
                    width: 70%;

                    >p {
                        font-size: 13px;
                        color: #333335;

                        >span {}

                    }

                    >span {
                        font-size: 10px;
                        color: #8c9097;
                    }
                }

                >.time-activity {
                    line-height: 1;

                    >span {
                        font-size: 10px;

                    }
                }
            }
        }
    }
}

.footer-bottom {
    background-color: #fff;
    padding: 1rem 0;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    // transform: translateY(20%);
    z-index: 0;

    >.text-footer {
        text-align: center;

        >p {
            color: #8c9097;
            font-size: .8rem;

            a {
                color: #000;

            }

            span {
                i {
                    color: red;
                }
            }
        }
    }
}

.table-main-container {
    margin-top: 1.5rem !important;
    margin-bottom: 4rem !important;

    .table-container {

        >.table-content {
            padding: 1.25rem;
            border-top: 1px solid #f3f3f3;

            >table {
                font-size: 12px;
                width: 100%;


                >thead {
                    border: 1px solid #f3f3f3;

                    >tr {

                        >th {
                            padding: .8rem;
                            border: 1px solid #f3f3f3;

                            >input[type='checkbox']:checked {
                                // background-color: #845adf !important;
                                // color:;
                                padding: 10rem !important;
                                accent-color: #845adf;
                            }



                        }
                    }
                }

                >tbody {
                    >tr {
                        border: 1px solid #f3f3f3;

                        >th {
                            padding: .8rem;

                        }

                        >td {
                            color: #333335;
                            border: 1px solid #f3f3f3;
                            padding: .8rem;

                            >span {
                                background-color: #845adf0c;
                                color: #845adf;
                                font-size: 10px;
                                font-weight: bolder;
                                padding: .25rem;
                                display: block;
                                text-align: center;
                            }

                            >.table-icon-value {
                                display: flex;
                                align-items: center;

                                >span {
                                    width: 28px;
                                    height: 28px;
                                    display: block;
                                    margin-right: .5rem;

                                    >img {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                    }
                                }

                                >p {
                                    font-weight: bolder;

                                }
                            }
                        }
                    }
                }
            }
        }

        >.table-footer {
            display: flex;
            justify-content: space-between;
            padding: 1rem 1.25rem;
            border-top: 1px solid #fcefe5;

            >.show-entries {
                display: flex;
                align-items: center;
                color: #8c9097;

                >p {
                    font-size: 12px;
                }

                >i {
                    margin-left: .4rem;
                }
            }

            .page-number {
                >nav {
                    display: flex;

                    >button {
                        background: none;
                        border: none;
                        font-size: 13px;
                        padding: 0 1rem;
                    }

                    >.prev {
                        color: #8c9097;
                    }

                    >.next {
                        color: #845adf;
                    }

                    >ul {
                        display: flex;

                        >li {
                            &:nth-of-type(1) {
                                background-color: #845adf;
                                color: #fff;
                                border-radius: 7px;
                            }

                            padding:.4rem .68rem;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}


@keyframes animation-scale {
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}